<md-grid-list cols="2">
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>OnTracc</md-card-title>
        <md-card-subtitle>Train Management Software</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="https://placehold.it/350x150">
      <md-card-content>
        <p>
          OnTracc is a desktop app written in Angular, Electron, and MaterializeCSS.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>SCREENSHOTS</button>
        <button md-button>WEBSITE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>2</md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
</md-grid-list>
