<md-grid-list cols="2">
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>OnTracc</md-card-title>
        <md-card-subtitle>Train Management Software</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="https://placehold.it/350x150">
      <md-card-content>
        <p>
          OnTracc is a desktop app written in AngularJS, Electron, and Angular Material.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button color="accent">SCREENSHOTS</button>
        <button md-button color="accent">WEBSITE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Angular Material Electron Boilerplate</md-card-title>
        <md-card-subtitle>An Electron boilerplate for those looking to rapidly develop and focus on the code in their Electron app.</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="https://placehold.it/350x150">
      <md-card-content>
        <p>
          Angular Material Electron Boilerplate is a boilerplate written in AngularJS, Electron, and Angular Material.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button color="accent">SCREENSHOTS</button>
        <button md-button color="accent">GITHUB</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
</md-grid-list>
